<ul class="navbar-nav">
  <br/>    <br/>
    <h2><b>Welcome Member</b><br/></h2>
<br/>    <br/> 

    <li class="nav-item">
      <button (click)="updateMem()" class="btn btn-primary">Update Profile</button>
    </li>  <br/><br/>

    <li class="nav-item">
      <button (click)=products() class="btn btn-primary">Products </button>
    </li>
    <br/>   <br/>
   
    <li class="nav-item">
      <button (click)=cart() class="btn btn-primary">Cart </button>
    </li>
    <br/>   <br/>
    
    <!-- <li class="nav-item">
      <button (click)=healthresults() class="btn btn-primary">Health Results</button>
    </li>
    <br/>
    <br/> -->
    
    <li class="nav-item">
      <button (click)="logOut()" class="btn btn-primary">Logout </button>
    </li>
    <br/>
    <br/>

    <br/>
       <br/>
       <br/>
       <br/>
          <br/>
          <br/>
          <br/>
    <br/>
       <br/>
       <br/>
       <br/>
       <br/>
          
   </ul> 