<h2 style="text-align: center;font-family:'Times New Roman', Times, serif;"><br/>
    <br/>    <br/>
    <b>Welcome Admin</b><br/></h2>
<br/>    <br/> 
<ul class="navbar-nav ">
    <li class="nav-item ">
      <button (click)=listM() class="btn btn-success">Member list </button>
    </li>
    <br/>
   
    <li class="nav-item">
        <button (click)=listT() class="btn btn-success">Trainer list </button>
    </li>
    <br/>

    <li class="nav-item">
        <button (click)=listP() class="btn btn-success">Product List</button>
    </li>
    <br/>

    <li class="nav-item">
        <button (click)=addp() class="btn btn-success">Add Product</button>
    </li>
    <br/>
    
    <li class="nav-item">
        <button (click)=scheduler() class="btn btn-success">Manage Schedule</button>
    </li>
    <br/>
    
    <li class="nav-item">
        <button (click)=logOut() class="btn btn-success">Logout</button>
    </li>
    <br/>    <br/>    <br/>        <br/>    <br/>    <br/>  
</ul> 

    
    