<!-- <script>
    $(document).ready(function () {
  
      $(".player").mb_YTPlayer();
    });
  </script>
<section class="content-section video-section">
    <div class="pattern-overlay">
      <!--  <a id="bgndVideo" class="player"
        data-property="{videoURL:'https://www.youtube.com/watch?v=w-cRWOjlk8c',showYTLogo:false, showAnnotations: false, showControls: false, cc_load_policy: false, containment:'#home-section',autoPlay:true, mute:true, startAt:255, stopAt: 271, opacity:1}">
      </a>-->
     <!-- <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=w-cRWOjlk8c',containment:'body',autoPlay:true, mute:true, startAt:0,opacity:1}">
         My video
      </a>
    </div>
  </section> -->

  <section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>What we do?</span>
                    <h2>PUSH YOUR LIMITS FORWARD</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0" id="ss-pic-1">
               
            </div>
            <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Personal training</h4>
                    <p >Personal training can be done by any individual who requires personal attention to move closer to their goals. </p>
                
                </div>
            </div>
            <div class="col-lg-3 order-lg-3 col-md-6 p-0" id="ss-pic-2">
                
            </div>
            <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Functional Training</h4>
                    <p>Functional training simply means training your body to perform everyday movements such as lifting bending,
                         climbing stairs.</p>
               
                </div>
            </div>
            <div class="col-lg-3 order-lg-8 col-md-6 p-0" id="ss-pic-3">
                
            </div>
            <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                <div class="ss-text second-row">
                    <h4>Weight Training</h4>
                    <p>The term ‘free weights’ is a training style focusing on only weight training helping an individual improve their strength 
                        and size of skeletal muscle. </p>
                
                </div>
            </div>
            <div class="col-lg-3 order-lg-6 col-md-6 p-0" id="ss-pic-4">    
            </div>
            <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                <div class="ss-text second-row">
                    <h4>Strength training</h4>
                    <p>Strength training is the physical and physiological development of athletes elite sports performance. </p>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing-section service-pricing spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Plan</span>
                    <h2>Choose your pricing plan</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-8">
                <div class="ps-item">
                    <h3>One Month Plan</h3>
                    <div class="pi-price">
                        <h2>₹ 5900</h2>
                        <span>SINGLE CLASS</span>
                    </div>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <a href="addm" class="primary-btn pricing-btn">Enroll now</a>
                 
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="ps-item">
                    <h3>3 Month unlimited</h3>
                    <div class="pi-price">
                        <h2>₹ 11800</h2>
                        <span>SINGLE CLASS</span>
                    </div>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <a href="addm" class="primary-btn pricing-btn">Enroll now</a>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="ps-item">
                    <h3>6 Month unlimited</h3>
                    <div class="pi-price">
                        <h2>₹ 9999</h2>
                        <span>SINGLE CLASS</span>
                    </div>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <a href="addm" class="primary-btn pricing-btn">Enroll now</a>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="ps-item">
                    <h3>12 Month unlimited</h3>
                    <div class="pi-price">
                        <h2>₹ 18700</h2>
                        <span>SINGLE CLASS</span>
                    </div>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <a href="addm" class="primary-btn pricing-btn">Enroll now</a>
                  
                </div>
            </div>
        </div>
    </div>
</section>