<section class="breadcrumb-section set-bg" data-setbg="src\assets\breadcrumb-bg.jpg" id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>BMI calculator</h2>
                    <div class="bt-option">
                       
                      
                        <span>BMI calculator</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-bmi></app-bmi>