<section class="team-section team-page spad" id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title"><br/><br/><br/>
                        <h2>ORDER SUCCESSFULL</h2><br/><br/><br/>
                        <span>THANK YOU FOR SHOPPING WITH US!!</span><br/>

                        <span> Collect your order from the Gym Counter  </span><br/>
                        <span> Payment and the Receipt will be Accepted and Received on the counter </span><br/><br/><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
