#main{
    background-image: url('src\assets\breadcrumb-bg.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

span{
    font-size: x-large;
    color: white;
  padding-left: 200px;
}

h2{
	color: #f36100;
}

.team-section {
	background: #151515;
}

.team-section.team-page {
	padding-bottom: 70px;
}

.team-section.team-page .ts-item {
	margin-bottom: 30px;
}

.team-section.team-page .ts-item:hover .ts_text {
	bottom: -30px;
}

.team-section.team-page .ts-item .tt_social {
	-webkit-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	transform: skewY(5deg);
	margin-top: 13px;
}

.team-section.team-page .ts-item .tt_social a {
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 10px;
}

.team-section.team-page .ts-item .tt_social a:last-child {
	margin-right: 0;
}

.team-title .section-title {
	text-align: left;
	float: left;
}



