<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<header>
<nav class="navbar navbar-expand-lg">
        <div>
                <ul class="navbar-nav">
                    <li class="active">
                        <a href="home" class="nav-link">Home</a>
                    </li>
            
                    <li class="nav-item">
                        <a href="viewp" class="nav-link">Product</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="services" class="nav-link">Services</a>
                    </li>

                    <li class="nav-item">
                        <a href="cu" class="nav-link">Contact Us</a>
                    </li>

                    <li >
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" class="nav-link"  data-toggle="dropdown">Login</a>
                              <ul class="dropdown-menu">
                                <li><a href="loginm" class="drpdwn">Login as Member</a></li>
                                <li><a href="logint" class="drpdwn">Login as Trainer</a></li> 
                                <li><a href="logina" class="drpdwn">Login as Admin</a></li>
                              </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        </header>