<ul class="navbar-nav">
  <br/>    <br/>
 <h2> <b>Welcome Trainer</b><br/></h2>
<br/>    <br/> 
<li class="nav-item">
      <button (click)="updateTrainer()" class="btn btn-primary">Update Profile</button>
  </li>  <br/>
  <br/>

  <li class="nav-item">
        <button (click)=scheduler() class="btn btn-primary">Schedule</button>
  </li>
  <br/>
  <br/>
  <li class="nav-item">
    <button (click)=addhr() class="btn btn-primary">Add Results</button>
</li>  <br/>  <br/> 
  <li class="nav-item">
    <button (click)=viewhr() class="btn btn-primary">View Results</button>
  </li>
  <br/> <br/>
  
  <li class="nav-item">
    <button (click)=logOut() class="btn btn-primary">Logout</button>
</li>


  <br/>
  <br/> <br/>
  <br/>
    
     <br/>
        <br/>
        <br/>
        <br/>
  <br/>
     <br/>
     <br/>
     <br/>
     <br/>
        <br/>
        <br/>
 </ul> 